<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenlongjian.widget_review">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".system_ui.ListViewActivity" android:theme="@android:style/Theme.NoTitleBar"/>


        <activity android:name=".activity.Custom2Activity" android:theme="@android:style/Theme.NoTitleBar"/>

        <activity android:name=".taiji_ui.TaijiActitivity" android:theme="@android:style/Theme.NoTitleBar"/>

    </application>

</manifest>